/*import css variables*/
@import url(../CSS/Partials/variable.css);

/*body*/

html body {
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Start Header Area*/
.header-area .main-menu .navbar .navbar-brand {
  padding: 0 400px 0 60px;
}
.nav-item {
  padding: 10px;
}
.nav-item :hover {
  font-weight: bold;
  transition: 0.5s;
}
/*End Header Area*/
/*Start Banner Area*/
.banner-1 {
  margin-top: 50px;
}
.site-main .site-banner img {
  padding: 40px;
}
.site-main .site-banner .site-title {
  padding: 150px 100px;
}

.title-text {
  color: var(--primary-color);
  font-family: "Quicksand", sans-serif;
}

.description {
  color: var(--text-color);
}

.site-title-2 {
  padding: 70px;
 
}
.illustration-2 img{
margin-top: -230px;

}
.how-it-works {
  color: var(--title-color);
  font-family: "Quicksand", sans-serif;
  padding: 30px;
}
.card-display {
  height: 690px;
  width: 800px;
  color: white;
  padding: 20px;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

.box {
  padding: 10px;
}

.box p {
  color: var(--text-color);
}
.install-section {
  padding: 30px;
}

.install-instruction {
  padding: 0 150px;
}

.install-instruction h1 {
  color: var(--title-color);
  font-family: "Quicksand", sans-serif;
}

.card {
  background-color: rgb(255, 255, 255);
  width: 500px;
  min-width: 250px;
  height: 350px;
  max-height: 600px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 20px;
}

.carousel-item span p {
  padding-top: 5px;
}

.testimonial-pic {
  border-radius: 50%;
  object-fit: cover;
  margin: 30px;
  max-width: 170px;
  max-height: 150px;
}
.quotation-mark {
  color: var(--text-color);
}

.image-cropper {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  box-sizing: border-box;
}

.profile-pic {
  margin: 0 auto;
  height: 100%;
  width: auto;
  object-fit: cover;
}
a .fa-solid {
  color: var(--primary-color);
}

/* START BRAND SECTION*/

.brands img {
  max-width: 300px;
  max-height: 280px;
  margin: 30px;
}
/* END BRAND SECTION*/

/* START FOOTER*/
.custom-footer {
  background-color: tomato;
}

.list-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.company-item a {
  text-decoration: none;
  color: white;
}

.product-item a {
  text-decoration: none;
  color: white;
}
.social-icons .fab {
  color: white;
}

.social-icons {
  margin: 0px 10px;
}

.footer-column li {
  padding: 5px;
}

.footer-column h6 {
  color: white;
  font-weight: bold;
}

.contacts p {
  color: white;
  font-weight: bold;
}

.legal-link a {
  text-decoration: none;
  color: white;
}
.legal-link {
  margin: 0 10px;
}

.copyright-legal p {
  color: white;
}

/*END FOOTER*/

/*START BECOME A RIDER*/
.site-banner-2 {
  margin-top: 100px;
}
.site-title-2-1 {
  padding: 90px 120px;
}
.illustration-2-1 {
  margin-left: 160px;
}

.icons-stacked {
  padding: 50px;
}

.faqs-card {
  background-color: rgb(255, 255, 255);
  width: 700px;
  min-width: 250px;
  height: 600px;
  max-height: 600px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 20px;
  margin: 100px 210px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.faqs-card::-webkit-scrollbar {
  width: 5px;
}

.faqs-card::-webkit-scrollbar-track {
  background: white;
  border-radius: 100vw;
}

.faqs-card::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 100vw;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 100vw;
}

::-webkit-scrollbar-track {
  background: white;
  border-radius: 100vw;
}

@supports (scrollbar-color: #c4c4c4 white) {
  * {
    scrollbar-color: #c4c4c4 white;
    scrollbar-width: thin;
  }
}

.question {
  color: var(--primary-color);
  font-weight: bold;
}

/*END BECOME A RIDER*/

/*START ABOUT*/

.banner-3 {
  margin-top: 100px;
  padding: 0px 60px;
}
.site-banner-3-1 {
  margin-bottom: 30px;
  padding: 40px;
}

.illustration-3-1 {
  padding-left: -100px;
}

.hr-2 {
  color: var(--text-color);
  margin-left: 250px;
  margin-right: 250px;
}

site-banner-3-1 p {
  padding: 100px;
  margin: 50px 50px;
}
.description-3-1 {
  margin: 100px 70px;
}

.description-3-1 p {
  padding: 50px;
  margin: 50px;
}

.position-holder {
  font-weight: bold;
}

.profile-pic-3 {
  border-radius: 50%;
  object-fit: cover;
  margin: 30px;
}

/*END ABOUT*/
/*START ABOUT*/
.bio-image {
  float: right;
  margin: 20px 140px;
}
.bio-text {
  text-align: justify;
}
.bio-name {
  font-weight: bold;
  color: var(--primary-color);
}

.bio-position {
  font-weight: bold;
}

.contact-form {
  width: 500px;
  height: 600px;
  color: white;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
}
form {
  margin: 35px;
  margin-left: 50px;
}

.input-field {
  width: 400px;
  height: 40px;
  margin-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #c4c4c4;
  border-radius: 9px;
  outline: none;
}

.text-area {
  height: 150px;
}
.submit {
  border-radius: 40px;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  width: 250px;
  height: 50px;
  margin: 20px 80px;
  cursor: pointer;
  font-weight: bold;
  transition: 1s ease;
}
.submit:hover {
  background-color: #fff;
  color: var(--primary-color);
  box-shadow: var(--box-shadow);
}
#status {
  width: 300px;
  max-width: 300px;
  height: 50px;
  max-height: 90px;
  margin: -50px 100px;
  text-align: center;
  font-weight: bold;
}
#status.success {
  color: var(--primary-color);
  animation: status 4s ease forwards;
}

#status.error {
  color: var(--primary-color);
  animation: status 4s ease forwards;
}

@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

/*END ABOUT*/
/*START BLOG*/
.blog-title {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 30px;
  font-family: "Quicksand", sans-serif;
}
.date {
  color: var(--text-color);
}
.card-blog-post {
  background: #f6f6f6;
  width: 300px;
  height: 500px;
}
.card-blog-post:hover {
  box-shadow: var(--box-shadow);
  background-color: white;
}
.card-recent {
  box-shadow: var(--box-shadow);
}
.blog-link {
  text-decoration: none;
  color: dimgrey;
  opacity: 60%;
}

.blog-card {
  text-decoration: none;
  color: dimgrey;
  opacity: 80%;
}
.blog-card a {
  text-decoration: none;
}
.blog-card :hover {
  background-color: white;
  opacity: 100%;
}

.date {
  color: dimgrey;
  opacity: 60%;
}
.category {
  color: dimgrey;
  opacity: 60%;
}

/*END BLOG*/

.whatsapp_float {
  position: fixed;
  width: 80px;
  height: 80px;
  bottom: 40px;
  right: 40px;
  background-color: #6bcb5c;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 50px;
  z-index: 100;
  text-align: center;
}

.whatsapp-icon {
  margin-top: 16px;
}

/*START POLICY*/
.policy-content h1 {
  font-family: "Quicksand", sans-serif;
  color: var(--primary-color);
}

.policy-content h4 {
  color: var(--primary-color);
  font-family: "Quicksand", sans-serif;
}
/*END POLICY*/

/*MEDIA QUERY*/
@media (max-width: 765px) {
  .card-display {
    height: 2000px;
    max-width: 300px;
    flex-direction: row;
  }

  .card {
    height: 500px;
    text-align: center;
    width: 300px;
  }
  .faqs-card {
    width: 300px;
    text-align: center;
  }
  .contact-form {
    width: 300px;
    height: 600px;
  }

  .input-field {
    width: 200px;
  }

  .submit {
    width: 200px;
    margin-left: 0;
  }

  .title-text {
    text-align: center;
  }

  .illustration-2-1 {
    margin-left: 90px;
  }

  .illustration-2 img{
  
  margin-top: -80px;
  margin-bottom: 30px;
    
    }

  .site-title-2-1 {
    padding: 160px 180px;
  }

  .site-banner-3-1 {
    margin-top: 60px;
    margin-bottom: -50px;
    text-align: center;
  }

  .description-3-1 {
    margin: 100px 90px;
  }

  .hr-2 {
    color: var(--text-color);
    margin-left: 100px;
    margin-right: 100px;
  }
  .blog-image {
    width: 350px;
    height: 250px;
  }

  .card-blog-post {
    margin: 30px;
    min-width: 200px;
  }

  .card-blog-post-1 {
    height: 550px;
  }
  .illustration-2-1 {
    margin-left: 10px;
  }
  .site-title-2 {
    padding-left: 60px;
  }
  .site-title-2 h1 h6 {
    margin-left: 100px;
  }
  .site-title-2-1 {
    padding: 160px 70px;
  }
  .site-title-2-1 a {
    padding-right: 0px;
  }
  .site-title-2-1 a {
    margin-left: -25px;
  }
  .site-title-2-1 h1 {
    margin-left: 0px;
  }
  .description {
    text-align: center;
  }
  .install-img img {
    margin-right: 110px;
    width: 250px;
  }

  .install-instruction {
    margin-left: 25px;
  }

  .download-rider {
    padding-left: 40px;
    text-align: center;
  }

  .download-rider-button {
    /* padding-left: 70px; */
    margin-left: 55px;
    padding: 10px;
  }

  .site-main .site-banner img {
    padding: 0px;
  }
  .site-main .site-banner .site-title {
    padding: 50px 40px;
  }
  .site-title-2 {
    padding: 50px 40px;
  }

  .site-title-2 img {
    width: 300px;
    height: 200px;
  }
  .icons-stacked {
    padding: 0px;
  }
  .description-3-1 {
    padding: 0px;
  }
  .description-3-1 {
    margin: 70px 30px;
  }

  .description-3-1 p {
    padding: 10px;
    margin: 0px;
  }
  .recent-card {
    margin: 0px;
  }

  .blog-cards {
    margin: 0px 0px;
  }
  .whatsapp-icon {
    margin-top: 10px;
  }
  .whatsapp_float {
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 10px;
    font-size: 22px;
  }
  .bio-image {
    width: 60%;
    height: 70%;
    margin-right: 90px;
  }
  .bio-text {
    text-align: left;
  }
}

@media (max-width: 400px) {
  .card-blog-post {
    margin: 30px;
    min-width: 200px;
  }

  .card-blog-post-1 {
    height: 600px;
  }

  .blog-image {
    width: 250px;
    height: 150px;
    min-width: 200px;
  }

  .blog-title {
    font-size: 25px;
  }

  .site-banner-3-1 h6 {
    padding: 0px;
  }
  .install-img {
    padding-left: 300px;
    width: 250px;
    height: auto;
  }

  .install-img img {
    margin-left: -250px;
    width: 250px;
  }

  .install-instruction {
    margin-left: -50px;
  }
}
@media (max-width: 1050px) {
  .card-blog-post {
    margin-top: 40px;
  }
}
